$white: #ffffff;
$success: #39b54a;
$brand: #6d4bad;
$black1: #131313;
$transparent: rgba(255, 255, 255, 0.06);
$black2: #030303;
$white2: #f7f3f2;
$salmon: #f5755c;
$success2: #a8c32e;
$success3:#99ba00;
$uno: #f9593a;
$dos: #7fb9ba;
$tres: #6bab70;
$cuantro: rgba(245, 245, 245, 0.59);
$cinco: #ffc80a;
$seis: #9fa3a7;
$siette: #4b4a4a;
$ocho: #49804e;
$nuevo: #504d40;
$diez: #2c2c2c;
