$white: #ffffff;
$success: #39b54a;
$bground: #00c853;
$brand: #6d4bad;
$black2: #131313;
$transparent: rgba(255, 255, 255, 0.06);
$black: #030303;
$white2: #f7f3f2;
$salmon: #f5755c;
$success2: #a8c32e;
$success3:#99ba00;
$uno: #f9593a;
$dos: #7fb9ba;
$tres: #6bab70;
$cuatro: rgba(245, 245, 245, 0.59);
$cinco: #ffc80a;
$seis: #9fa3a7;
$siette: #4b4a4a;
$ocho: #49804e;
$nuevo: #504d40;
$diez: #2c2c2c;
$once: #4d4d4d;


/*======Estilos de texto======*/
.ttlo {
  width: auto;
  height: auto;
  font-size: 52px;
  font-family: Montserrat;
  font-weight: bold;
  letter-spacing: 0px;
  &.principal {
    text-align: right;
    color: $white;
  }
  &.secundario {
    text-align: left;
    color: $once;
  }
  &.partherConecta {
    font-size: 62px;
    line-height: 1.5;
    color: $white;
    }
}

.H1 {
  width: auto;
  height: auto;
  font-size: 48px;
  letter-spacing: 0px;

  &.boldText {
    font-family: Montserrat;
    color: $black;
    font-weight: bold;
  }
  &.bold11 {
    font-family: Montserrat;
     color: $once;
    font-weight: bold;
  }
  &.boldSucc2 {
    font-family: Montserrat;
    color: $success2;
    font-weight: bold;
  }
  &.boldSalm {
    font-family: Montserrat;
    color: $salmon;
    font-weight: bold;
  }
  &.boldWhite {
    font-family: Montserrat;
    color: $white;
    font-weight: bold;
  }
//=========================
  &.textReg {
    font-family: Roboto;
    color: $black;
  }
  &.textReg11 {
    font-family: Roboto;
    color: $once;
  }
  &.textRegSucc2 {
    font-family: Roboto;
    color: $success2;
  }
  &.textRegSalm {
    font-family: Roboto;
    color: $salmon;
  }
  &.textRegWhite {
    font-family: Roboto;
    color: $white;
  }
}

.H2 {
  width: auto;
  height: auto;
  font-size: 38px;
  letter-spacing: 0px;

  &.boldText {
    font-family: Montserrat;
    color: $black;
    font-weight: bold;
  }
  &.bold11 {
    font-family: Montserrat;
     color: $once;
    font-weight: bold;
  }
  &.boldSucc2 {
    font-family: Montserrat;
    color: $success2;
    font-weight: bold;
  }
  &.boldSalm {
    font-family: Montserrat;
    color: $salmon;
    font-weight: bold;
  }
  &.boldWhite {
    font-family: Montserrat;
    color: $white;
    font-weight: bold;
  }
//=========================
  &.textReg {
    font-family: Roboto;
    color: $black;
  }
  &.textReg11 {
    font-family: Roboto;
    color: $once;
  }
  &.textRegSucc2 {
    font-family: Roboto;
    color: $success2;
  }
  &.textRegSalm {
    font-family: Roboto;
    color: $salmon;
  }
  &.textRegWhite {
    font-family: Roboto;
    color: $white;
  }
}

.H3 {
  width: auto;
  height: auto;
  font-size: 24px;
  letter-spacing: 0px;

  &.boldText {
    font-family: Montserrat;
    color: $black;
    font-weight: bold;
  }
  &.bold11 {
    font-family: Montserrat;
     color: $once;
    font-weight: bold;
  }
  &.boldSucc2 {
    font-family: Montserrat;
    color: $success2;
    font-weight: bold;
  }
  &.boldSalm {
    font-family: Montserrat;
    color: $salmon;
    font-weight: bold;
  }
  &.boldWhite {
    font-family: Montserrat;
    color: $white;
    font-weight: bold;
  }
//=========================
  &.textReg {
    font-family: Roboto;
    color: $black;
  }
  &.textReg11 {
    font-family: Roboto;
    color: $once;
  }
  &.textRegSucc2 {
    font-family: Roboto;
    color: $success2;
  }
  &.textRegSalm {
    font-family: Roboto;
    color: $salmon;
  }
  &.textRegWhite {
    font-family: Roboto;
    color: $white;
  }
}

.H4 {
  width: auto;
  height: auto;
  font-size: 18px;
  letter-spacing: 0px;

  &.boldText {
    font-family: Montserrat;
    color: $black;
    font-weight: bold;
  }
  &.bold11 {
    font-family: Montserrat;
     color: $once;
    font-weight: bold;
  }
  &.boldSucc2 {
    font-family: Montserrat;
    color: $success2;
    font-weight: bold;
  }
  &.boldSalm {
    font-family: Montserrat;
    color: $salmon;
    font-weight: bold;
  }
  &.boldWhite {
    font-family: Montserrat;
    color: $white;
    font-weight: bold;
  }
//=========================
  &.textReg {
    font-family: Roboto;
    color: $black;
  }
  &.textReg11 {
    font-family: Roboto;
    color: $once;
  }
  &.textRegSucc2 {
    font-family: Roboto;
    color: $success2;
  }
  &.textRegSalm {
    font-family: Roboto;
    color: $salmon;
  }
  &.textRegWhite {
    font-family: Roboto;
    color: $white;
  }
}

.Bquote {
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0px;

  &.quoteBold{
    font-weight: bold;
    //color: $black-90-two;
  }
  &.quoteBold70{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.7);
  }
  &.quoteBold40{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.4);
  }
  &.quoteBoldBrand{
    font-weight: bold;
    //color: $brand;
  }
  &.quoteBoldWhite{
    font-weight: bold;
    color: $white;
  }
//=========================
  &.quoteTextReg {
    //color: $black-90-two;
  }
  &.quoteText70 {
    //color: rgba(18, 11, 23, 0.7);
  }
  &.quoteText40 {
    //color: rgba(18, 11, 23, 0.4);
  }
  &.quoteTextBrand {
    //color: $brand;
  }
  &.quoteTextWhite {
    color: $white;
  }
}

.bdy {
  width: auto;
  height: auto;
  font-family: Montserras;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;

  &.bdyBold {
    font-weight: bold;
    //color: $black-90-two;
  }
  &.bdyBold70 {
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.7);
  }
  &.bdyBold40 {
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.4);
  }
  &.bdyBoldBrand {
    font-weight: bold;
    //color: $brand;
  }
  &.bdyBoldWhite {
    font-weight: bold;
    color: $white;
  }
//=========================
  &.bdyTextReg {
    //color: $black-90-two;
  }
  &.bdyText70 {
    //color: rgba(18, 11, 23, 0.7);
  }
  &.bdyText40 {
    //color: rgba(18, 11, 23, 0.4);
  }
  &.bdyTextBrand {
    //color: $brand;
  }
  &.bdyTextWhite {
    color: $white;
  }
}

.cption {
  width: auto;
  height: auto;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;

  &.cptionBold{
    font-weight: bold;
    //color: $black-90-two;
  }
  &.cptionBold70{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.7);
  }
  &.cptionBold40{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.4);
  }
  &.cptionBoldBrand{
    font-weight: bold;
    //color: $brand;
  }
  &.cptionBoldWhite{
    font-weight: bold;
    color: $white;
  }
//=========================
  &.cptionTextReg {
    //color: $black-90-two;
  }
  &.cptionText70 {
    //color: rgba(18, 11, 23, 0.7);
  }
  &.cptionText40 {
    //color: rgba(18, 11, 23, 0.4);
  }
  &.cptionTextBrand {
    //color: $brand;
  }
  &.cptionTextWhite {
    color: $white;
  }
}

.smll {
  width: auto;
  height: auto;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;

  &.smllBold{
    font-weight: bold;
    //color: $black-90-two;
  }
  &.smllBold70{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.7);
  }
  &.smllBold40{
    font-weight: bold;
    //color: rgba(18, 11, 23, 0.4);
  }
  &.smllBoldBrand{
    font-weight: bold;
    //color: $brand;
  }
  &.smllBoldWhite{
    font-weight: bold;
    color: $seis;
  }
//=========================
  &.smllTextReg {
    //color: $black-90-two;
  }
  &.smllText70 {
    //color: rgba(18, 11, 23, 0.7);
  }
  &.smllText40 {
    //color: rgba(18, 11, 23, 0.4);
  }
  &.smllTextBrand {
    color: $brand;
  }
  &.smllTextWhite {
    color: $white;
  }
}
body {
  font-family: Montserrat, Roboto, Open Sans;
}
/*navbar*/
.nav-transparente {
  box-shadow: none;
  .logo-blanco {
    // margin: 8px auto;
    height: 58px;
  }
  .color-scroll {
    display: none;
  }
   background: $bground !important;
}

.nav-color {
  .logo-color{
    display: none;
  }
  .transparente-scroll{
    display: none;
  }
  background-color: $white !important;
  .waves-effect.waves-light{
    &:first-child{
      width: 153px;
    }
    &:nth-child(2){
      width: 125px;
    }
    &:last-child{
      width: 175px;
      background-color: $brand;
      color: $white;
    }
  }
}
.btniniciarsesion {
  border-color: $white;
  border-radius: 40px;
  border: solid 2px
}
/*main*/
.Secc {
  width: 100%;
  &.Mask {
    height: 500px;
  }
  &.conoceProble {
    height: 892px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
  }
  &.partnerConecta {
    height: 788px;
    // background-color: $dos;
    background-image: url(../img/CORONA.png);
    background-repeat: no-repeat;
  }
  &.newSletter {
    height: 635px;
    background-image: url(../img/plant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  &.fondo {
    background-color: $tres;
    opacity: 0.56;
  }
  }
}

.lineaVerde {
  width: 171px;
  height: 138.5px;
  border-bottom-style: dotted $success2;
}
.cuandroSletter {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  width: 652px;
  height: 447.9px;
  border-radius: 10px;
  background-color: $cuatro;
  &.centradoSletter {
    height: 100%;
    align-items: center;
  }
  &.enviarEmail {
    margin: 0px;
    width: 100%;
    height: 80.6px;
    background-color: $white;
  }
}
.playvideo {
  width: auto;
  height: 138px;
}
/*footer*/
footer {
  background-color: $diez;
}
.separador {
  height: 1px;
  opacity: 0.1;
  margin: 0;
  border: solid 1px;
  background: black;
}
.logo{
  margin: 8px auto;
  height: 59px;
}
#social {
  margin: 12px 21px 0px 0px;
}
