<footer>
  <div class="container">
    <div class="section" style="padding: 20px 0px 0px 0px;">
      <div id="fter" class="row">
        <div class="col s12 m3">
          <h5 class="bdy bdyBoldWhite">COLABORADORES</h5>
          <p class="smll smllTextWhite">Kupuri</p>
          <p class="smll smllTextWhite">Ciclo 720</p>
          <p class="smll smllTextWhite">Características del servicio</p>
          <p class="smll smllTextWhite">Prensa</p>
        </div>
        <div class="col s12 m3">
          <h5 class="bdy bdyBoldWhite">COMPAÑIA</h5>
          <p class="smll smllTextWhite">CONECTA SUSTENTABLE</p>
          <p class="smll smllTextWhite">Misión</p>
          <p class="smll smllTextWhite">Impacto Social</p>
        </div>
        <div class="col s12 m3">
          <h5 class="bdy bdy bdyBoldWhite">DESCUBRE MÁS</h5>
          <p class="smll smllTextWhite">Partenrs</p>
          <p class="smll smllTextWhite">Servicio al cliente</p>
          <p class="smll smllTextWhite">Guía para iniciar</p>
        </div>
        <div class="col s12 m3">
          <img src="assets/img/gplay.png" alt="PlayStore">
          <img src="assets/img/app.png" alt="AppStore">
          <div>
            <img id="social" src="assets/img/Facebook.png" alt="facebook">
            <img id="social" src="assets/img/Instagram.png" alt="Instagram">
            <img id="social" src="assets/img/Twitter.png" alt="twitter">
          </div>
        </div>
      </div>
      <hr class="separador">
      <div class="row valign-wrapper" style="margin-bottom: 0px;">
        <div class="col s3 m3">
          <img class="logo" src="assets/img/logoB.png" alt="ConectaSustentable">
        </div>
          <p class="col s3 m3 bdy bdyBoldWhite">POLÍTICA DE PRIVACIDAD</p>
          <p class="col s3 m3 bdy bdyBoldWhite">TÉRMINOS Y CONDICIONES</p>
          <p class="col s3 m3 bdy bdyBoldWhite">DERECHOS RESERVADOS</p>
      </div>
    </div>
  </div>
</footer>
