<header>
  <div class="navbar-fixed">
    <nav class="green accent-4" role="navigation" style="box-shadow: none;">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo"><img class="logo" src="assets/img/logo-01.png" alt="logo conecta sustentable"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class="cption cptionTextWhite">Problemática</a></li>
          <li><a href="#" class="cption cptionTextWhite ">Partners</a></li>
          <li><a href="#" class="btn green accent-4 cption cptionTextWhite btniniciarsesion">iniciar sesión</a></li>
        </ul>
        <!--mobile section  -->
        <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Problematica</a></li>
          <li><a href="#">Partners</a></li>
          <li><a href="#">iniciar sesión</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">reorder</i></a>
      </div>
    </nav>
  </div>
</header>
